body {
    background: #40a1b5;
}

.baap{    display: flex;
    width: 70%;
    margin: 150px auto;
 
}
    

.grid {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    width: 50%;
    margin: 0 auto;
    
}


.child {
    padding: 2em 2em;
    background: pink;
}


.child1 {
    grid-column: 1 / span 2;
    background: #BD52D6;
}

.child2 {
    background: #FCA710;
    height: 40px;
}

.child4 {
    background: #F13F4F;
    height: 50px;
}

.child3 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 3;
    background: #04BFCE;
}


.grad {
    display: grid;
    grid-gap: 18px;
    grid-template-columns: auto auto;
    padding: 10px;
    width: 50%;
    margin: auto;
}

.bache {
    padding: 2em 2em;
    background: rgb(4, 194, 23);
}


.last {
    grid-column: 1 / span 2;
    background: #b69204;
}




.bache6 {
    background: #1c0463;
}


.bache3 {
    background: #eb05d4;
}



.bache5 {
    background: #86484e;
}